<section class="list">
  <div class="order right">
    Order by:
    <select name="order">
      {{#each order}}
      <option value="{{.}}">{{.}}</option>
      {{/each}}
    </select>
  </div>
  <div class="collection">
    {{#each data}}
    <a id="{{id}}" href="{{link}}" class="item row" style="top:{{top}}px">
      {{name}}
    </a>
    {{/each}}
  </div>
</section>