<section class="row order">
  <div class="right">
    Order by:
    <select name="order">
      {{#each keys}}
      <option value="{{.}}"{{{select}}}>{{.}}</option>
      {{/each}}
    </select>
  </div>
</section>
<section class="collection">
  {{#each data}}
  <a id="{{id}}" href="{{link}}" class="item row" style="transform:translate3d(0,{{y}},0)">
    {{name}}
    {{#each properties}}
      <small>
        <strong data-property="{{@key}}" class="right"{{{show}}}>
          {{this}}
        </strong>
      </small>
    {{/each}}
  </a>
  {{/each}}
</section>